---  
  
**Phase 2 - Milestone 3**  
  
**Name**: Nicku R. Perdana  
**Batch**: HCK-012  
  
**Introduction**:  
This notebook's main purpose is to perform a basic observation towards datasets used in this data engineering process. The raw dataset is obtained from Kaggle via this [link](https://www.kaggle.com/datasets/ammaraahmad/us-ecommerce-record-2020). This notebook is also featuring the automated validation process using Python's great expectation library.  
  
---

# A. Import Libraries

In [13]:
# working with dataset
import pandas as pd

# working with great expectation packages
from great_expectations.data_context import FileDataContext

# B. Data Loading  
  
There are two datasets we will load in this section, marked by the identifier 'raw' for the original dataset obtained from Kaggle and 'clean' for the preprocessed dataset undergone through airflow process. Both identifier were came from the dataset's title itself.

In [14]:
# open the raw dataset that are also available in the root directory
raw_df = pd.read_csv('P2M3_nicku_perdana_data_raw.csv', encoding='Windows-1252')

# open the cleaned dataset in `root > dags` directory
clean_df = pd.read_csv('dags/P2M3_nicku_perdana_data_clean.csv', parse_dates=['order_date'])

# C. Raw Data Processing Simulation
  
This process will involve a simple operation to understand data characteristics represented with the data type, null/duplicate compositions, and data variation.

## C1. Read Dataset

In [15]:
display(raw_df.head())
raw_df.info()

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,01-01-20,849,CA-2017-107503,Standard Class,GA-14725,Consumer,United States,Lorain,Ohio,44052,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",48.896,4,0.2,8.5568
1,01-01-20,4010,CA-2017-144463,Standard Class,SC-20725,Consumer,United States,Los Angeles,California,90036,West,FUR-FU-10001215,Furniture,Furnishings,"Howard Miller 11-1/2"" Diameter Brentwood Wall ...",474.430,11,0.0,199.2606
2,01-01-20,6683,CA-2017-154466,First Class,DP-13390,Home Office,United States,Franklin,Wisconsin,53132,Central,OFF-BI-10002012,Office Supplies,Binders,Wilson Jones Easy Flow II Sheet Lifters,3.600,2,0.0,1.7280
3,01-01-20,8070,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,454.560,5,0.2,-107.9580
4,01-01-20,8071,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5,0.6,-187.3815

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3312 non-null   object
 1   Row ID        3312 non-null   int64
 2   Order ID      3312 non-null   object
 3   Ship Mode     3312 non-null   object
 4   Customer ID   3312 non-null   object
 5   Segment       3312 non-null   object
 6   Country       3312 non-null   object
 7   City          3312 non-null   object
 8   State         3312 non-null   object
 9   Postal Code   3312 non-null   int64
 10  Region        3312 non-null   object
 11  Product ID    3312 non-null   object
 12  Category      3312 non-null   object
 13  Sub-Category  3312 non-null   object
 14  Product Name  3312 non-null   object
 15  Sales         3312 non-null   float64
 16  Quantity      3312 non-null   int64
 17  Discount      3312 non-null   float64
 18  Profit        3312 non-null   float64
dtypes: float64(3), int64(3), object(13)
memory usage: 491.8+ KB

The output suggest that the `Order Date` column is still in an object type.

## C2. Simulate Data Type Conversion

In [16]:
raw_df1 = raw_df.copy()

raw_df1['Order Date'] = pd.to_datetime(raw_df1['Order Date'], format='%d-%m-%y')

display(raw_df1.head())
raw_df1.info()

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2020-01-01,849,CA-2017-107503,Standard Class,GA-14725,Consumer,United States,Lorain,Ohio,44052,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",48.896,4,0.2,8.5568
1,2020-01-01,4010,CA-2017-144463,Standard Class,SC-20725,Consumer,United States,Los Angeles,California,90036,West,FUR-FU-10001215,Furniture,Furnishings,"Howard Miller 11-1/2"" Diameter Brentwood Wall ...",474.430,11,0.0,199.2606
2,2020-01-01,6683,CA-2017-154466,First Class,DP-13390,Home Office,United States,Franklin,Wisconsin,53132,Central,OFF-BI-10002012,Office Supplies,Binders,Wilson Jones Easy Flow II Sheet Lifters,3.600,2,0.0,1.7280
3,2020-01-01,8070,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,454.560,5,0.2,-107.9580
4,2020-01-01,8071,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5,0.6,-187.3815

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3312 non-null   datetime64[ns]
 1   Row ID        3312 non-null   int64
 2   Order ID      3312 non-null   object
 3   Ship Mode     3312 non-null   object
 4   Customer ID   3312 non-null   object
 5   Segment       3312 non-null   object
 6   Country       3312 non-null   object
 7   City          3312 non-null   object
 8   State         3312 non-null   object
 9   Postal Code   3312 non-null   int64
 10  Region        3312 non-null   object
 11  Product ID    3312 non-null   object
 12  Category      3312 non-null   object
 13  Sub-Category  3312 non-null   object
 14  Product Name  3312 non-null   object
 15  Sales         3312 non-null   float64
 16  Quantity      3312 non-null   int64
 17  Discount      3312 non-null   float64
 18  Profit        3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(12)
memory usage: 491.8+ KB

We successfully converted the `Order Date` column value to a standardized date-time format.  
We can implement the working script to the DAG script.  
  
Apply this code:
```python
raw_df1['Order Date'] = pd.to_datetime(raw_df1['Order Date'], format='%d-%m-%y')
```

## C3. Simulate Column Renaming

In [17]:
colName_replace = []
for col in raw_df1.columns.to_list():
    colName_replace.append(col.strip().lower().replace(' ', '_').replace('-', '_'))
colName_replace

['order_date',
 'row_id',
 'order_id',
 'ship_mode',
 'customer_id',
 'segment',
 'country',
 'city',
 'state',
 'postal_code',
 'region',
 'product_id',
 'category',
 'sub_category',
 'product_name',
 'sales',
 'quantity',
 'discount',
 'profit']

We have done clean every column name from any excessive white spaces and convert them into a lower case + snake-case format.

In [18]:
colDict = dict(zip(raw_df1.columns.to_list(), colName_replace))
colDict

{'Order Date': 'order_date',
 'Row ID': 'row_id',
 'Order ID': 'order_id',
 'Ship Mode': 'ship_mode',
 'Customer ID': 'customer_id',
 'Segment': 'segment',
 'Country': 'country',
 'City': 'city',
 'State': 'state',
 'Postal Code': 'postal_code',
 'Region': 'region',
 'Product ID': 'product_id',
 'Category': 'category',
 'Sub-Category': 'sub_category',
 'Product Name': 'product_name',
 'Sales': 'sales',
 'Quantity': 'quantity',
 'Discount': 'discount',
 'Profit': 'profit'}

We have create a renaming scheme/map for each original column name to the desired/target column name.

In [19]:
raw_df2 = raw_df1.copy()

raw_df2 = raw_df2.rename(columns=colDict)

display(raw_df2.head())
raw_df2.info()

,order_date,row_id,order_id,ship_mode,customer_id,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,2020-01-01,849,CA-2017-107503,Standard Class,GA-14725,Consumer,United States,Lorain,Ohio,44052,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",48.896,4,0.2,8.5568
1,2020-01-01,4010,CA-2017-144463,Standard Class,SC-20725,Consumer,United States,Los Angeles,California,90036,West,FUR-FU-10001215,Furniture,Furnishings,"Howard Miller 11-1/2"" Diameter Brentwood Wall ...",474.430,11,0.0,199.2606
2,2020-01-01,6683,CA-2017-154466,First Class,DP-13390,Home Office,United States,Franklin,Wisconsin,53132,Central,OFF-BI-10002012,Office Supplies,Binders,Wilson Jones Easy Flow II Sheet Lifters,3.600,2,0.0,1.7280
3,2020-01-01,8070,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,454.560,5,0.2,-107.9580
4,2020-01-01,8071,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5,0.6,-187.3815

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_date    3312 non-null   datetime64[ns]
 1   row_id        3312 non-null   int64
 2   order_id      3312 non-null   object
 3   ship_mode     3312 non-null   object
 4   customer_id   3312 non-null   object
 5   segment       3312 non-null   object
 6   country       3312 non-null   object
 7   city          3312 non-null   object
 8   state         3312 non-null   object
 9   postal_code   3312 non-null   int64
 10  region        3312 non-null   object
 11  product_id    3312 non-null   object
 12  category      3312 non-null   object
 13  sub_category  3312 non-null   object
 14  product_name  3312 non-null   object
 15  sales         3312 non-null   float64
 16  quantity      3312 non-null   int64
 17  discount      3312 non-null   float64
 18  profit        3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(12)
memory usage: 491.8+ KB

We had renamed all the column name into a simpler format with lowercase + snake-case. The final code can be integrated to the DAGS script for data preprocessing.  
  
Apply this code:
```python
newSnakeCaseCols = []
for column in data.columns:
    newSnakeCaseCols.append(column.strip().lower().replace(' ', '_').replace('-', '_'))
data = data.rename(columns=dict(zip(data.columns.to_list(), newSnakeCaseCols)))
```

## C4. Check Null Value

In [20]:
raw_df2.isnull().sum()

order_date      0
row_id          0
order_id        0
ship_mode       0
customer_id     0
segment         0
country         0
city            0
state           0
postal_code     0
region          0
product_id      0
category        0
sub_category    0
product_name    0
sales           0
quantity        0
discount        0
profit          0
dtype: int64

There is no native null value within the dataset. However, we can simulate step to remove null valua using this code.  
  
```python
raw_df2 = raw_df2.dropna(inplace=True)```

## C5. Check Duplicate Records

In [21]:
raw_df2.duplicated().sum()

0

There is no native duplicated value within the dataset. However, we can simulate a step to remove duplicated values.  
  
However, we can simulate step to remove null valua using this code.  
  
```python
raw_df2 = raw_df2.drop_duplicated(inplace=True)```

# D. Preprocessed Dataset  
  
After processing the raw dataset with several steps defined before, we can conclude our final dataset that has been preprocessed automatically using airflow is shown as this operation below.

In [22]:
display(clean_df.head())
clean_df.info()

,order_date,row_id,order_id,ship_mode,customer_id,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,2020-01-01,849,CA-2017-107503,Standard Class,GA-14725,Consumer,United States,Lorain,Ohio,44052,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",48.896,4,0.2,8.5568
1,2020-01-01,4010,CA-2017-144463,Standard Class,SC-20725,Consumer,United States,Los Angeles,California,90036,West,FUR-FU-10001215,Furniture,Furnishings,"Howard Miller 11-1/2"" Diameter Brentwood Wall ...",474.430,11,0.0,199.2606
2,2020-01-01,6683,CA-2017-154466,First Class,DP-13390,Home Office,United States,Franklin,Wisconsin,53132,Central,OFF-BI-10002012,Office Supplies,Binders,Wilson Jones Easy Flow II Sheet Lifters,3.600,2,0.0,1.7280
3,2020-01-01,8070,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,454.560,5,0.2,-107.9580
4,2020-01-01,8071,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5,0.6,-187.3815

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_date    3312 non-null   datetime64[ns]
 1   row_id        3312 non-null   int64
 2   order_id      3312 non-null   object
 3   ship_mode     3312 non-null   object
 4   customer_id   3312 non-null   object
 5   segment       3312 non-null   object
 6   country       3312 non-null   object
 7   city          3312 non-null   object
 8   state         3312 non-null   object
 9   postal_code   3312 non-null   int64
 10  region        3312 non-null   object
 11  product_id    3312 non-null   object
 12  category      3312 non-null   object
 13  sub-category  3312 non-null   object
 14  product_name  3312 non-null   object
 15  sales         3312 non-null   float64
 16  quantity      3312 non-null   int64
 17  discount      3312 non-null   float64
 18  profit        3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(12)
memory usage: 491.8+ KB

In [34]:
print(sorted(clean_df['segment'].unique().tolist()))

['Consumer', 'Corporate', 'Home Office']

We can see this is the final output of our data preprocessing.

# E. Performing Great Expectation

## E1. Data Context Initialization

In [23]:
context = FileDataContext.create(project_root_dir='./')

The `gx` folder has been created to perform great expectation validation.

## E2. Connect to a Data Source

In [24]:
# declare a datasource
datasource_name = 'csv_data_clean'
datasource = context.sources.add_pandas(datasource_name)

# declare a data asset
asset_name = 'ecommerce_us_clean'
path_to_data = 'dags/P2M3_nicku_perdana_data_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# build a batch request
batch_request = asset.build_batch_request()

## E3. Create an Expectation Suite

In [25]:
# for creating an expectation suite 
expectation_suite_name = 'expectation_ecommerce_dataset'
context.add_or_update_expectation_suite(expectation_suite_name=expectation_suite_name)

# create a validator using above expectation suite
validator = context.get_validator(batch_request=batch_request,
                                  expectation_suite_name=expectation_suite_name)

# check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,order_date,row_id,order_id,ship_mode,customer_id,segment,country,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,2020-01-01,849,CA-2017-107503,Standard Class,GA-14725,Consumer,United States,Lorain,Ohio,44052,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",48.896,4,0.2,8.5568
1,2020-01-01,4010,CA-2017-144463,Standard Class,SC-20725,Consumer,United States,Los Angeles,California,90036,West,FUR-FU-10001215,Furniture,Furnishings,"Howard Miller 11-1/2"" Diameter Brentwood Wall ...",474.430,11,0.0,199.2606
2,2020-01-01,6683,CA-2017-154466,First Class,DP-13390,Home Office,United States,Franklin,Wisconsin,53132,Central,OFF-BI-10002012,Office Supplies,Binders,Wilson Jones Easy Flow II Sheet Lifters,3.600,2,0.0,1.7280
3,2020-01-01,8070,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,454.560,5,0.2,-107.9580
4,2020-01-01,8071,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5,0.6,-187.3815

## E4. Expectation One: A Column Contains All Unique Values

In [26]:
validator.expect_column_values_to_be_unique('row_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3312,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The test suggests all values in column `row_id` are unique, meaning there is no duplicated values.

## E5. Expectation Two: A Column Value Should Be Between `Min` and `Max` Value

In [27]:
validator.expect_column_values_to_be_between(column='discount', min_value=0, max_value=1)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3312,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The test suggests all values in column `discount` are in a range between 0 (0.00%) and 1 (100.00%).

## E6. Expectation Three: A Column Value Should Be in a Set of a List Conditionally

In [35]:
validator.expect_column_values_to_be_in_set('segment', ['Consumer', 'Corporate', 'Home Office'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3312,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The test suggest all values in column `segment` satisfied our conditional, which is containing either `Consumer`, `Corporate`, or `Home Office`.

## E7. Expectation Four: A Column Value of `profit` Should be Either an Integer or A Float

In [36]:
validator.expect_column_values_to_be_in_type_list('profit', ['integer', 'float'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The test suggest all values in column `profit` were in fact either an integer or a float-typed data.

## E8. Expectation Five: Column Product ID Should Exist

In [38]:
validator.expect_column_values_to_be_dateutil_parseable('order_date')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3312,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The test suggest that column `order_date` is in date-time format and is parsable.

## E9. Expectation Six: `product_name` Should Contain Text from 0 to 255 Characters (Max)

In [39]:
validator.expect_column_value_lengths_to_be_between('product_name', min_value=0, max_value=255)

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3312,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The test suggest that every values in `product_name` contains a string with a length from 0 to 255.

## E10. Expectation Seven: `State` Column Should Be Filled with Any of 50 US State Name

In [43]:
validator.expect_column_unique_value_count_to_be_between('state', min_value=0, max_value=50)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 47
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

The test suggest that US state name in column `state` has a variation of 50 countries at its max, which is the sensible number for the US States available for now.

# F. Conclusion  
  
Preprocessing test using great-expectation shows some pass/true result listed below:
- Column `row_id` contains all-unique values
- Column `discount` contains value ranged from 0 (0%) to 1 (100%)
- Column `segment` should contains values either of these options: 'Consumer', 'Corporate', and 'Home Office'
- Column `profit` should contains integer or float values
- Column `order_date` is parsable in the format of date-time
- Number of string length in the column `product_name` is still in the range between 0 and 255 characters.
- Number of unique states filled in the column `state` still in range between 0 and 50 states